.the-page{
  background-image: url("../../assets/images/bg.jpg");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.head{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 10px;
}

.head-links{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

button{
  background-color: black;
  border: 0px;
}

.head-links img{
  padding: 0px 10px;
}

.head-links img:hover{
  cursor: pointer;
}

img{
  background-color: black;
}

#mycanvas{
  border: 4px solid white;
  background-image: url("../../assets/images/bg.jpg");
}

.head-game-info{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.head-game-info img{
  padding: 0px 10px;
}

.how-to-play:hover{
  cursor: pointer;
}

.scoreboard:hover{
  cursor: pointer;
}

.logo{
  display: flex;
  align-items: center;
}

.logo img{
  width: 100%
}

.modal{
  display: none; 
  position: fixed;
  z-index: 10; 
  left: 70%;
  top: 20%;
  background-color: black;
  width: 25%; 
  min-height: 20%;
  max-height: 40%;
  padding: 20px;
  overflow: auto;
  box-sizing: border-box;
  border: 3px solid #15F4EE;
  border-radius: 10px;
  color: white;
}

.modal-content div:first-of-type{
  border-bottom: 3px solid whitesmoke;
}

.close-abt, .close-score {
  color: #aaa;
  display: inline-block;
  text-align: right;
  line-height: 1rem;
  width:100%;
  font-size: 28px;
  font-weight: bold;
}

.close-abt:hover, .close-abt:focus {
  color: whitesmoke;
  text-decoration: none;
  cursor: pointer;
}

.close-score:hover, .close-score:focus {
  color: whitesmoke;
  text-decoration: none;
  cursor: pointer;
}

p{
  text-align: center;
  font-size: 1.2rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.section-head{
  display: flex;
  justify-content: center;
}

.how-to-play p{
  text-align: start;
  width: 100%;
}

.hiscore{
  display: flex;
  justify-content: space-between;
  padding: 15px 0px 0px 0px;
  border-top: 1px solid whitesmoke;
}

b{
  text-decoration: underline;
}

.play-again-btn{
  display: block;
  position: relative;
  left: 0px;
  top: -200px;
  z-index: 101;
  line-height: 50px;
  height: 50px;
  font-size: 40px;
  color: rgb(163, 83, 238);
  box-sizing: border-box;
  font-variant: small-caps;
  border: 3px solid white;
  font-weight: 700;
  font-family: 'Courier New', Courier, monospace;
}

.play-again-btn:hover{
  cursor: pointer;
}

.name-input{
  display: block;
  position: relative;
  left: 0px;
  top: -200px;
  height: 50px;
  z-index: 101;
  line-height: 50px;
  font-size: 20px;
  width: 500px;
  color: rgb(163, 83, 238);
  box-sizing: border-box;
  font-variant: small-caps;
  background-color: transparent;
  border: 5px solid white;
  border-radius: 10px;
  font-weight: 700;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}

.hidden{
  display: none;
}

.sound-icon:hover{
  cursor: pointer;
}

.fix-format{
  height:50px;
}